.body{
    width:100%;
    font-family: "Helvetica ff;Neue",Helvetica,Arial,sans-serif;
    /*src: url('./fonts/glyplhicons-halflings-regular.ttf');*/
}
.header{
    height: 54px;
    width: 100%;
    background: #000000;
    font-size: 16px;
    font-style:normal;
}

.header3{
	height:54px;
	width:100%;
	color:#fff;
	text-align:center;
	line-height:54px;
}
.header2{
    height: 54px;
    width: 100%;
   color: #fff;
    text-align: center;
	line-height:54px;
}
.header1{
    height: 200px;
    width: 100%;
    background: #000000;
    font-size: 16px;
    font-style:normal;
}
.headerfont1{
    color: #fff;
    margin-top: -180px;
    text-align: center;
    /*margin-left: 130px;*/
}
.headerfont{
    color: #fff;
    margin-top: 34px;
    text-align: center;
    /*margin-left: 130px;*/
}
.headerfont2{
    color: #fff;
    margin-top: 34px;
    text-align: center;
    /*margin-left: 130px;*/
}
.headerfont3{
    color: #fff;
    text-align: center;
	line-height:50px;
	background: #000;
	
    /*margin-left: 130px;*/
}

.video{
    height: 180px;
    margin-top: -2px;
    background: #ffffff;
}
.imgcontent{
    height: 90px;
    width:100%;

}
.imgv1{
    margin: 8px 26% 10px 30%;
    height:48px;
}
.p1{
    margin-top: -12px;
    font-size: 14px;
    text-align: center;
}
.imgcontent1{
    float: left;
    height: 90px;
    width:33.3%;
}
.imgcontent2{
    float: left;
    height: 90px;
    width:33.3%;
}
.imgcontent3{
    float: left;
    height: 90px;
    width:33.3%;
}
.videos{
    background: #ffffff;
    margin-top: 2px;
    height: 190px;
}
.videostitle{
    height: 34px;
}
.videogd{
    font-size: 12px;
    margin-left: 90%;
}
.videoxc{
    margin-top: -22px;
    margin-left: 10px;

}
.videoimg{
    height: 146px;
}
.image1{
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    height: 120px;
    width: 47%;
}
.image2{
    float: right;
    margin-top: 10px;
    margin-right: 8px;
    height: 120px;
    width: 47%;
}
.footercontent{
    height: 220px;
    background: #ffffff;
}
.footertitle{
    margin-top: -1px;
    height: 40px;
}
.footerimg{
    margin-top: -10px;
    height: 150px;
    width: 100%;
}



.headerfontxc{
    color: #ffff;
    margin-top: -30px;
    text-align: center;
    /*margin-left: 130px;*/
}
.xcvideo1{
    margin-top: 8px;
    float: left;
    margin-right: 10px;
    margin-bottom: -10px;
}
.xcvideo2{
    margin-top: 8px;
    float: right;
    margin-right: 10px;
    margin-bottom: -10px;
}
.icon1{
    height: 18px;
    margin-right: 10px;
}
.icon2{
    height: 18px;
   
}
.gztitle{
    height: 80px;
    background: #000000;
}

.button1{
    height: 35px;
    margin-top:30px;
	 border-radius:20px;overflow:hidden;
	  background-color: #25D6B9;
}
.button2{
    height: 35px;
    margin-top:30px;
	 border-radius:20px;overflow:hidden;
	 
}
.gzcontent{
    height: 220px;
    background: #F0F0F0;
    margin-top: 14px;
}
.gz_content1{
    height:70px ;
}
.gz_content2{
    height:100px ;
}
.img_ct{
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.gz_font{
    margin-top: -50px;
    margin-left: 20%;
}
.gz_font1{
    margin-left: 20%;
    font-size: 12px;
    margin-top: 5px;
}
.font_ct{
    margin-top: 5px;
    font-size: 13px;
}
.dupin{
    height: 136px;
    margin-top: -5px;
    background: #F0F0F0;
}
.dupin1{
    margin-left: 10px;
    margin-top: 10px;
    height: 114px;
    width: 138px;
}
.subject{
    margin-top: -34%;
    margin-left: 45%;
}
.narcotics_ct{
    margin-top: -16px;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 45%;
}
.dupintype{
    margin-top: 12px;
    font-size: 12px;
    margin-left: 45%;
}
.drug1{
    margin-top: -20px;
    height: 200px;
}
.drug{
    margin-top: 20px;
    height: 200px;
}
.drug0{
    
    height: 180px;
}
.drug2{
    margin-top: -180px;
    height: 200px;

}
.drug3{
    margin-top: -580px;
   

}
.camera1{
    margin-top: 10px;
    margin-left: 41%;
    height: 60px;
	width: 60px;
	border:1px solid #E4F4FC;
	border-radius:30px;overflow:hidden;
}
.camera2{
   width:100%;
    height: 120px;
}
.camera3{
    margin-top: -5px;
    margin-left: 90%;
    height: 25px;
	width:25px
}
.camera{
    margin-top: 20px;
    margin-left: 33.3%;
    height: 120px;
}
.camera4{
    margin-top: 250px;
    margin-left: 35%;
    height: 100px;
}
.camera5{
    margin-top: 230px;
    margin-left: 39%;
    height: 80px;
}
.camera_ct{
    text-align: center;
	color: #fff;
}
.camera_ctt{
    text-align: center;
}
.camera_ctt1{
    text-align: center;
	color:#960A23;
}
.jdxf{
	text-align: center;
	font-size:14px;
	color:#8E8E8E;
}
.camera_ct1{
    text-align: center;
	color: #25D6B9;
	font-size:20px;
}
.camera_ct3{
    text-align: center;
	color: #fff;
	
}
.camera_img1{
    border-color:#000000 ;
    margin-top: 16px;
    height: 116px;
    width: 116px;
}
.camera_img4{
   
	height: 116px;
    width: 116px;
	border:1px solid #E6BEC6;
    margin-top: 45px;
     border-radius:58px;overflow:hidden;
}
.camera_img5{
    border-color:#000000 ;
	height: 116px;
    width: 116px;
	border:1px solid #E6BEC6;
	 border-radius:58px;overflow:hidden;
    
}
.font_ctimg0{
    float: left;
margin:0 auto;	
}
.font_ctimg0 p{
    text-align: center;	
	margin-top: 1px;
}
.xuanfu{
	left: -15px;
	
	position: fixed;
	bottom: 70px;
	width: 100%;
	z-index: 100;
}
.xuanfu1{
  
	height: 60px;
    width: 60px;
	float:right;
    
}

.font_ctimg{
    float: left;
	
}
.ewm_img1 {

}
.font_ctimg1{

	margin-top: 40px;
	c
    float: left;
   
}
.xzjd{
	text-indent:2em;
	color: #fff;	
}
.xzjd1{
	
	color: #fff;	
}
.jdcontent ul{ width: 101%;}
.jdcontent ul li{ background: #fff; width: 33%; float: left;  padding: 15px 0; margin-bottom: -20px; margin-right: 40px;}
.jdcontent ul li a{width: 100%; display: block;}
.jdcontent ul li img{ width: 40;height:40px; display: block; margin: 10px auto}
.jdcontent ul li p{ text-align: center;}

.dp_title{
    text-align: center;
}
.dp_time{
height: 20px;

}
.dp_read{
    font-size: 14px;
    margin-top: -20px;
    margin-left: 8px;
}
.dp_readtime{
    font-size: 14px;
    margin-top: -31px;
    margin-left: 74%;
}
.dp_content{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 16px;
}
.dp_img{
    margin-top: 16px;
    height: 240px;
    margin-right: 10px;
    margin-left: 10px;
    width: 94%;
}
.font_ctimg2{

	margin-top: 50px;
	width:100px;
    height:50px;
	border:1px solid #25D6B9;
    float: left;
	  border-radius:10px;overflow:hidden;
   
}
.font_ctimg3{

	margin-top: 50px;
	width:100px;
    height:50px;
	border:1px solid #25D6B9;
    float: left;
	 border-radius:10px;overflow:hidden;
   }
.jdcontent1{
	width: 100%;
      height: 210px;
      background-color: #EEEEEE;
    
	  }

.font_ctimg2{ background: #fff;text-align: center;color:#25D6B9; width: 33%; float: left;  margin-bottom: -20px; margin-right: 40px;}


.font_ctimg3{ background: #25D6B9; color:#fff; text-align: center;width: 33%; float: left;  margin-bottom: -20px; margin-right: 40px;}

.font_ctimg4{
	margin-top: 50px;
	width:100px;
    height:50px;
	border:1px solid #25D6B9;
  
	margin:0 auto; 
	 border-radius:10px;overflow:hidden;
	  background: #25D6B9; color:#fff;
	  text-align: center;
   }
   .font_ctimg5{
	
	width:98%;
    height:450px;
	border:1px solid #FFFFFF;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:10px;overflow:hidden;
	  background: #FFFFFF;
	  
   }
  .dtjg{
	  width:98%;
    height:200px;
	border:1px solid #FFFFFF;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:10px;overflow:hidden;
	  background: #FFFFFF;
  }
  .dtjg1{
	  text-indent:4em;
  }
 .font_ctimg6{
	 width:85%;
    height:50px;
	border:1px solid #25D6B9;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:30px;overflow:hidden;
	  background: #25D6B9;
	  color:#FFFFFF;
	  text-indent:1em;
 }
  .font_ctimg7{
	 width:85%;
    height:50px;
	border:1px solid #DEDEDE;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:30px;overflow:hidden;
	  color:#000;
	  text-indent:1em;
 }
   .font_ctimg8{
	  color:#ca1818;
	  text-align:center;
	  
 }
  .font_ctimg9{
	 width:95%;
    height:50px;
	border:1px solid #DEDEDE;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:30px;overflow:hidden;
	  color:#000;
	  text-indent:1em;
 }
 .font_ctimg10{
	 width:85%;
    height:50px;
	border:1px solid #25D6B9;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:30px;overflow:hidden;
	  background: #25D6B9;
	  color:#FFFFFF;
	text-align:center;
 }
 .font_ctimg11{
	 width:85%;
    
	border:1px solid #E1E0E0;
	margin:0 auto; 
	margin-top: 30px;
	 border-radius:30px;overflow:hidden;
	  color:#E1E0E0;
	  text-indent:1em;
 }
  .font_ctimg12{
	  color:#FF9130;
	  text-indent:3em;
	  font-size:14px;
 }
.fade{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
.succ-pop{
    width: 90%;
    height: 280px;
    background: #fff;
    position: fixed;
    left: 53%;
    top: 24%;
    margin-left: -200px;
   
    z-index: 999;
    border-radius: 5px;
}
.succ-pop h4.title{
    text-align: center;
    font-size: 18px;
    
}    
 .sett_x_l{ float: left; width: 50%;margin-top: -10px;}
 .sett_x_l p{  font-size: 16px; color: #000; }
 .sett_x_l img{ height: 30px; float: right; margin-right: 0px; display: block; margin-top: 10px}

.sett_xiug .sett_x_l{ float: left; width: 50%;}
.sett_xiug .sett_x_l p{  font-size: 16px; color: #000; float: left; line-height: 20px;}

.sett_xiug .sett_x_r{ float: right; width: 50%;}
.sett_xiug .sett_x_r p{  font-size: 16px; color: #999; float: right; line-height: 10px;}

.sett_xiug1 .sett_x_l{ float: left; width: 50%;}
.sett_xiug1 .sett_x_l p{  font-size: 16px; color: #000; float: left; line-height: 30px;}
.sett_xiug1 .sett_x_r{ float: right; width: 50%;}
.sett_xiug1 .sett_x_r p{  font-size: 16px; color: #999; float: right; line-height: 0px;}
.sett_xiug1 .sett_x_r img{ height: 16px; padding: 10px 0px 5px 30px; display: block; float: right;}

.sett_xiug2 .sett_x_l{ float: left; width: 50%;}
.sett_xiug2 .sett_x_l p{  font-size: 16px; color: #000; float: left; line-height: 30px;}
.sett_xiug2 .sett_x_r{ float: right; width: 50%;}
.sett_xiug2 .sett_x_r p{  font-size: 16px; color: #999; float: right; line-height: 0px;}





