<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="./css/index.css">
</head>
<body>
<div class="body" style="width: 100%;">
    <div class="header" style="width: 100%;background: black;">

    </div>
    <div class="headerfont">龙华禁毒在线
    </div>
    <div class="topimg">
        <img src="./images/1.jpg" alt="" class="headerimg"
             style="height: 160px;width:100%;margin-top:16px">
    </div>
    <div class="video">
        <div class="imgcontent over-flow">
            <div class="imgcontent1">
                <img src="./images/a.png" alt="" class="imgv1">
                <p class="p1">吸毒后的脸</p>
            </div>
            <div class="imgcontent2">
                <img src="./images/b.png" alt="" class="imgv1">
                <p class="p1">禁毒先锋</p>
            </div>
            <div class="imgcontent3">
                <a href="jindu_xc.html"><img src="./images/c.png" alt="" class="imgv1"></a>
                <p class="p1">在线问答</p>
            </div>
            <div class="imgcontent3">
                <a href="jindu_xc.html"><img src="./images/d.png" alt="" class="imgv1"></a>
                <p class="p1">宣传视频</p>
            </div>
            <div class="imgcontent3">
                <img src="./images/e.png" alt="" class="imgv1">
                <p class="p1">认识毒品</p>
            </div>
            <div class="imgcontent3">
                <img src="./images/f.png" alt="" class="imgv1">
                <p class="p1">工作状态</p>
            </div>
        </div>
    </div>
    <div class="videos">
        <div class="videostitle">
            <div class="videogd"><a href="#">更多视频</a></div>
            <div class="videoxc">宣传视频</div>
        </div>
        <div class="videoimg">
            <div class="videosimgzs">
                <img src="./images/video_jindu1.png" alt="" class="image1">
            </div>
            <div class="videosimgzs">
                <img src="./images/video_jindu2.png" alt="" class="image2">
            </div>

        </div>
    </div>
    <div class="footercontent">
        <div class="footertitle">吸毒后的脸
        </div>
        <div class="footercontent">
            <img src="./images/footer_img.png" alt="" class="footerimg">
        </div>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>